body {
    background-color: rgb(75, 75, 75);
    text-align: center;
}

canvas {
    border: solid rgb(47, 0, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 1em;
}

p,h2 {
    color: white;
}

#right, #left {
    width: 50px;
    height: 50px;
    margin: 20px;
}

#lose {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}